.grid__container {
  top: 25vh;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-auto-rows: 500px;
}

.background__image {
  position: relative;
  background-image: url('./images/Background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: auto;
  z-index: 0;
}
.portrait {
  margin: auto;
  background-image: url('./images/portrait.png');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: -80px -20px;
  min-height: 360px;
  max-width: 350px;
  border-radius: 360px;
}

.blurb {
  margin-right: 65px;
  color: white;
  .header {
    font-size: 1.35rem;
    font-weight: 700;
  }
}
.buttons__container {
  margin-top: 25px;
  display: inline;
  & li:not(:last-child) {
    margin-right: 3%;
  }
  li {
    display: inline;
  }
}
.social__button {
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  a {
    color: white;
    letter-spacing: 0.05em;
    padding: 1rem;
  }

  &:hover {
    background: #ffffff;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 25px;
    a {
      color: #429aeb;
    }
  }
}

@media (max-width: 750px) {
  .grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .background__image {
    height: 200vh;
  }

  .blurb {
    margin: 0 15px 0 15px;
  }

  .buttons__container {
    display: flex;
    flex-direction: column;
    & li {
      margin-right: 20px !important;
      margin-left: 20px !important;
      margin-top: 10px;
    }
  }
}
