.project__container {
  display: grid;
  grid-template-rows: repeat(1fr);
}

.project {
  &__item {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap: 15px;
    background-color: #3986cc;
    color: white;
  }
  &__item__even {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap: 15px;
    background-color: #48a7ff;
    color: white;
  }

  &__header {
    font-size: 38px;
  }

  &__description {
    display: inline-block;
    margin-right: 20px;
  }

  &__image {
    margin-top: 20px;
    margin-left: 15px;
    max-height: 198px;
    max-width: 500px;
  }
}

@media (max-width: 750px) {
  .project {
    &__item {
      padding: 50px 20px;
      grid-template-columns: 1fr;
      grid-template-rows: 0.6fr 1fr;
    }

    &__description,
    &__header {
      margin: 0 20px 0 20px;
    }

    &__image {
      margin-left: 6vw;
    }
  }
}
